/* VARIAVEIS */
:root {
    --fundocorpo: #1b1e23;
    --textocor: #f0f0f0;
}

/* RESET */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* BASE */

html{
    font-family: "Montserrat", sans-serif;
    background-color: var(--fundocorpo);
}

/* MOBILE */


header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5% 0 0 0;
    background-image: linear-gradient(to right, #45585e 0%, #93b3b3 100%);
    border-radius: 35px;
    width: 100%;
    position: sticky;
}

.caixa {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2d363c;
}

.caixa {
    border: 3px solid #72a7a7;
    border-radius: 5px;
    padding: 14px;
}

h1{
    color: var(--textocor);
    padding: 3%;
    position: sticky;
    font-size: 15pt;
    
}
h2 {
    color: var(--textocor);
}
article {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #8d8989;
    margin: 20px;
}
main {
    padding: 20px;
}

@media only screen and (min-width: 1120px) {
    /* VERSÃO DESKTOP */
h1 {
    font-size: 30pt;
}
h2 {
    font-size: 22pt;
}

}