/* VARIAVEIS */
:root {
    --fundocorpo: #f0f0f0;
    --textocor: #f0f0f0;
}

/* RESET */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* BASE */

html{
    font-family: "Montserrat", sans-serif;
    background-color: var(--fundocor);
}

/* MOBILE */

h1{
    color: var(--textocor);
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}


@media only screen and (min-width: 1120px) {
    /* VERSÃO DESKTOP */
    

}